<h1 [title]="'Number Game'"></h1>

<div class="p-20">
  Enter name:
  <p>
    <input
      type="text"
      placeholder="Enter your name"
      [(ngModel)]="name"
      (keyup.enter)="joinSession()"
    />
  </p>
  Enter Session ID:
  <p>
    <input
      type="text"
      placeholder="Enter the session ID"
      [(ngModel)]="sessionID"
      (keyup.enter)="joinSession()"
    />
  </p>
  <p>
    <button class="redbutton" (click)="joinSession()">
      Connect to Session
    </button>
  </p>
</div>
