<h1 [title]="'Number Game'"></h1>

<div>
  <div class="p-20">
    <img [src]="stateService.userInfo()?.pic" alt="pic" />
  </div>
  <div class="p-20">
    {{ stateService.userInfo()?.name }}
  </div>
  <div class="p-20">
    SessionID: {{ stateService.sessionUser()?.sessionID }}
    <button
      *ngIf="stateService.sessionUser()"
      (click)="copyToClipboard()"
      class="copy-button"
    >
      <img src="clipboard.png" alt="copy" class="copy-icon" />
    </button>
  </div>
  <div class="p-20">
    Guess the number (or set it if you are the first to submit):
    <p>
      <input
        type="number"
        placeholder="3"
        [(ngModel)]="guess"
        (keyup.enter)="sendGuess()"
      />
    </p>
    <p>
      <button (click)="sendGuess()">Send Guess</button>
    </p>
  </div>
  <div class="p-20">
    <button (click)="leaveSession()">Leave Session</button>
  </div>
  <div class="p-20">
    Players:
    <ul style="list-style: none">
      <li *ngFor="let player of stateService.players()">
        <img [src]="player.pic" alt="pic" />
        {{ player.name }} has
        <ng-container *ngIf="hasGuessed(player); else notGuessedYet">
          <ng-container
            *ngIf="player.guess === undefined; else notNumberDecider"
          >
            decided a number
          </ng-container>
          <ng-template #notNumberDecider> guessed </ng-template>
        </ng-container>
        <ng-template #notGuessedYet> not guessed yet </ng-template>
      </li>
    </ul>
  </div>
</div>
