<h1 [title]="'Number Game'"></h1>

<div>
  <div class="p-20">
    <img [src]="stateService.userInfo()?.pic" alt="pic" />
  </div>
  <div class="p-20">
    {{ stateService.userInfo()?.name }}
  </div>
  <div class="p-20">
    SessionID: {{ stateService.sessionUser()?.sessionID }}
    @if (stateService.sessionUser()) {
      <button
        (click)="copyToClipboard()"
        class="copy-button"
        >
        <img src="clipboard.png" alt="copy" class="copy-icon" />
      </button>
    }
  </div>
  <div class="p-20">
    Guess the number (or set it if you are the first to submit):
    <p>
      <input
        type="number"
        placeholder="3"
        [(ngModel)]="guess"
        (keyup.enter)="sendGuess()"
        />
    </p>
    <p>
      <button (click)="sendGuess()">Send Guess</button>
    </p>
  </div>
  <div class="p-20">
    <button (click)="leaveSession()">Leave Session</button>
  </div>
  <div class="p-20">
    Players:
    <ul style="list-style: none">
      @for (player of stateService.players(); track player) {
        <li>
          <img [src]="player.pic" alt="pic" />
          {{ player.name }} has
          @if (hasGuessed(player)) {
            @if (player.guess === undefined) {
              decided a number
            } @else {
              guessed
            }
          } @else {
            not guessed yet
          }
        </li>
      }
    </ul>
  </div>
</div>
